venv/
src/__pycache__/
sample_data/simulation_01/simulation_output/*.txt
sample_data/simulation_01/simulation_output/*.dxf
sample_data/simulation_02/simulation_output/*.txt
sample_data/simulation_02/simulation_output/*.dxf